In [1]:
import pandas as pd, statsmodels.api as sm

In [2]:
dados = pd.read_csv('dados.csv')

base = dados.copy()
dados

,ano,id_regiao,id_uf,sigla_uf,id_domicilio,regiao_metropolitana,numero_familia,ordem,condicao_domicilio,condicao_familia,...,renda_mensal_produto_mercadoria_outra_deflacionado,renda_mensal_ocupacao_principal_deflacionado,renda_mensal_todos_trabalhos_deflacionado,renda_mensal_todas_fontes_deflacionado,renda_mensal_familia_deflacionado,renda_aposentadoria_deflacionado,renda_pensao_deflacionado,renda_abono_deflacionado,renda_aluguel_deflacionado,renda_outras_deflacionado
0,1981,1,12,AC,198172001101,0.0,1.0,1.0,1.0,1.0,...,NaN,1714.0,1714.0,1714.0,2297.0,NaN,NaN,NaN,NaN,NaN
1,1981,1,12,AC,198172001103,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,703.0,2246.0,NaN,703.0,NaN,NaN,NaN
2,1981,1,12,AC,198172001104,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1245.0,1816.0,1245.0,NaN,NaN,NaN,NaN
3,1981,1,12,AC,198172001105,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,183.0,183.0,183.0,NaN,NaN,NaN,NaN
4,1981,1,12,AC,198172001106,0.0,1.0,1.0,1.0,1.0,...,NaN,7886.0,13601.0,16458.0,17887.0,NaN,NaN,NaN,2857.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11006519,2015,3,35,SP,201535010274015,1.0,1.0,2.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11006520,2015,3,35,SP,201535010274015,1.0,1.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11006521,2015,3,35,SP,201535010274016,1.0,1.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11006522,2015,3,35,SP,201535010274016,1.0,1.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11006523,2015,3,35,SP,201535010274016,1.0,1.0,4.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dados.columns.to_list()

['ano',
 'id_regiao',
 'id_uf',
 'sigla_uf',
 'id_domicilio',
 'regiao_metropolitana',
 'numero_familia',
 'ordem',
 'condicao_domicilio',
 'condicao_familia',
 'numero_membros_familia',
 'sexo',
 'dia_nascimento',
 'mes_nascimento',
 'ano_nascimento',
 'idade',
 'raca_cor',
 'sabe_ler_escrever',
 'frequenta_escola',
 'serie_frequentada',
 'grau_frequentado',
 'ultima_serie_frequentada',
 'ultimo_grau_frequentado',
 'anos_estudo',
 'trabalhou_semana',
 'tinha_trabalhado_semana',
 'tinha_outro_trabalho',
 'ocupacao_semana',
 'atividade_ramo_negocio_semana',
 'atividade_ramo_negocio_anterior',
 'possui_carteira_assinada',
 'renda_mensal_dinheiro',
 'renda_mensal_produto_mercadoria',
 'horas_trabalhadas_semana',
 'renda_mensal_dinheiro_outra',
 'renda_mensal_produto_outra',
 'horas_trabalhadas_outros_trabalhos',
 'contribui_previdencia',
 'tipo_instituto_previdencia',
 'tomou_providencia_conseguir_trabalho_semana',
 'tomou_providencia_ultimos_2_meses',
 'qual_providencia_tomou',
 'tinha_carteira_assinada_ultimo_emprego',
 'renda_aposentadoria',
 'renda_pensao',
 'renda_abono_permanente',
 'renda_aluguel',
 'renda_outras',
 'renda_mensal_ocupacao_principal',
 'renda_mensal_todos_trabalhos',
 'renda_mensal_todas_fontes',
 'atividade_ramo_negocio_agregado',
 'horas_trabalhadas_todos_trabalhos',
 'posicao_ocupacao',
 'grupos_ocupacao',
 'renda_mensal_familia',
 'ocupacao_ano_anterior',
 'renda_mensal_dinheiro_deflacionado',
 'renda_mensal_produto_mercadoria_deflacionado',
 'renda_mensal_dinheiro_outra_deflacionado',
 'renda_mensal_produto_mercadoria_outra_deflacionado',
 'renda_mensal_ocupacao_principal_deflacionado',
 'renda_mensal_todos_trabalhos_deflacionado',
 'renda_mensal_todas_fontes_deflacionado',
 'renda_mensal_familia_deflacionado',
 'renda_aposentadoria_deflacionado',
 'renda_pensao_deflacionado',
 'renda_abono_deflacionado',
 'renda_aluguel_deflacionado',
 'renda_outras_deflacionado']

In [26]:
# Filtrando apenas as colunas com os dados relevantes pra minha análise

colunas_drop = ['id_regiao',
 'id_uf', 'numero_familia',
 'dia_nascimento',
 'mes_nascimento',
 'ano_nascimento','sabe_ler_escrever',
 'frequenta_escola',
 'serie_frequentada',
 'grau_frequentado','trabalhou_semana',
 'tinha_trabalhado_semana',
 'tinha_outro_trabalho',
 'ocupacao_semana',
 'atividade_ramo_negocio_semana',
 'atividade_ramo_negocio_anterior',
 'possui_carteira_assinada',
 'renda_mensal_dinheiro',
 'renda_mensal_produto_mercadoria',
 'horas_trabalhadas_semana',
 'renda_mensal_dinheiro_outra',
 'renda_mensal_produto_outra',
 'horas_trabalhadas_outros_trabalhos',
 'contribui_previdencia',
 'tipo_instituto_previdencia',
 'tomou_providencia_conseguir_trabalho_semana',
 'tomou_providencia_ultimos_2_meses',
 'qual_providencia_tomou',
 'tinha_carteira_assinada_ultimo_emprego',
 'renda_aposentadoria',
 'renda_pensao',
 'renda_abono_permanente',
 'renda_aluguel',
 'renda_outras',
 'renda_mensal_ocupacao_principal',
 'renda_mensal_todos_trabalhos',
 'renda_mensal_todas_fontes',
 'atividade_ramo_negocio_agregado',
 'horas_trabalhadas_todos_trabalhos','renda_mensal_familia',
 'ocupacao_ano_anterior',
 'renda_mensal_dinheiro_deflacionado',
 'renda_mensal_produto_mercadoria_deflacionado',
 'renda_mensal_dinheiro_outra_deflacionado',
 'renda_mensal_produto_mercadoria_outra_deflacionado',
 'renda_mensal_ocupacao_principal_deflacionado',
 'renda_mensal_todos_trabalhos_deflacionado',
 'renda_mensal_todas_fontes_deflacionado',
 'renda_mensal_familia_deflacionado',
 'renda_aposentadoria_deflacionado',
 'renda_pensao_deflacionado',
 'renda_abono_deflacionado',
 'renda_aluguel_deflacionado',
 'renda_outras_deflacionado',
 'ultima_serie_frequentada', 'ultimo_grau_frequentado',
 'posicao_ocupacao', 'grupos_ocupacao', 'regiao_metropolitana', 'condicao_domicilio', 'numero_membros_familia', 'ordem']

dados2 = base.drop(columns=colunas_drop, axis=1)
dados2

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo
0,1981,AC,198172001101,1.0,1.0,1.0,27.0,NaN,15.0
1,1981,AC,198172001103,1.0,1.0,1.0,54.0,NaN,0.0
2,1981,AC,198172001104,1.0,1.0,1.0,54.0,NaN,4.0
3,1981,AC,198172001105,1.0,1.0,1.0,68.0,NaN,3.0
4,1981,AC,198172001106,1.0,1.0,1.0,38.0,NaN,15.0
...,...,...,...,...,...,...,...,...,...
11006519,2015,SP,201535010274015,2.0,3.0,0.0,25.0,2.0,13.0
11006520,2015,SP,201535010274015,3.0,3.0,1.0,24.0,8.0,11.0
11006521,2015,SP,201535010274016,2.0,2.0,0.0,55.0,8.0,13.0
11006522,2015,SP,201535010274016,3.0,3.0,0.0,27.0,8.0,14.0
11006523,2015,SP,201535010274016,4.0,3.0,1.0,25.0,8.0,14.0

In [27]:
# Filtrando apenas os dados de Sergipe (região de análise)

dados = dados2.loc[dados2['sigla_uf'] == 'SE']
dados

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo
418164,1981,SE,198158001501,1.0,1.0,1.0,45.0,NaN,15.0
418165,1981,SE,198158001502,1.0,1.0,0.0,48.0,NaN,8.0
418166,1981,SE,198158001503,1.0,1.0,0.0,59.0,NaN,0.0
418167,1981,SE,198158001504,1.0,1.0,1.0,84.0,NaN,4.0
418168,1981,SE,198158001505,1.0,1.0,0.0,50.0,NaN,3.0
...,...,...,...,...,...,...,...,...,...
10966511,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0
10966512,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0
10966513,2015,SE,201528001559015,3.0,3.0,1.0,14.0,8.0,7.0
10966514,2015,SE,201528001559015,4.0,3.0,0.0,5.0,8.0,0.0
10966515,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0

In [28]:
# Este filtro é encontrado no dicionário das PNADs. Condição de domicílio 1 seria pra responsável pela casa, 2 cônjuge e 3
# seria o filho. Embora o responsável pelo domicílio nem sempre seja o "pai" da família, utilizamos essa variável como proxy.

dados = dados.loc[dados['condicao_familia'] <= 3]
dados

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo
418164,1981,SE,198158001501,1.0,1.0,1.0,45.0,NaN,15.0
418165,1981,SE,198158001502,1.0,1.0,0.0,48.0,NaN,8.0
418166,1981,SE,198158001503,1.0,1.0,0.0,59.0,NaN,0.0
418167,1981,SE,198158001504,1.0,1.0,1.0,84.0,NaN,4.0
418168,1981,SE,198158001505,1.0,1.0,0.0,50.0,NaN,3.0
...,...,...,...,...,...,...,...,...,...
10966511,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0
10966512,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0
10966513,2015,SE,201528001559015,3.0,3.0,1.0,14.0,8.0,7.0
10966514,2015,SE,201528001559015,4.0,3.0,0.0,5.0,8.0,0.0
10966515,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0

In [32]:
# Separando os anos de análise. 2010 e 2000 não possuíram PNADs por serem anos censitários, o que justifica a escolha do ano
# subsequente para manter a análise dentro da PNAD.

d2001 = dados.loc[dados['ano'] == 2001]
d2005 = dados.loc[dados['ano'] == 2005]
d2011 = dados.loc[dados['ano'] == 2011]
d2015 = dados.loc[dados['ano'] == 2015]

dados2 = pd.concat([d2001, d2005, d2011, d2015])
dados2.reset_index(drop=True, inplace=True)
dados2

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo
5663094,2001,SE,200128000013001,1.0,1.0,0.0,78.0,8.0,0.0
5663095,2001,SE,200128000013002,1.0,1.0,0.0,26.0,2.0,2.0
5663096,2001,SE,200128000013003,1.0,1.0,1.0,40.0,2.0,7.0
5663097,2001,SE,200128000013004,1.0,1.0,1.0,69.0,8.0,0.0
5663098,2001,SE,200128000013006,1.0,1.0,0.0,70.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
10966511,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0
10966512,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0
10966513,2015,SE,201528001559015,3.0,3.0,1.0,14.0,8.0,7.0
10966514,2015,SE,201528001559015,4.0,3.0,0.0,5.0,8.0,0.0
10966515,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0

In [39]:
# Filtrando apenas as condições de domicílio para "pais e mães" (novamente, assumindo que responsáveis e conjuges sejam o casal)
dados_pais = dados2.loc[dados2['condicao_familia'] <= 2]
dados_pais

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo
0,2001,SE,200128000013001,1.0,1.0,0.0,78.0,8.0,0.0
1,2001,SE,200128000013002,1.0,1.0,0.0,26.0,2.0,2.0
2,2001,SE,200128000013003,1.0,1.0,1.0,40.0,2.0,7.0
3,2001,SE,200128000013004,1.0,1.0,1.0,69.0,8.0,0.0
4,2001,SE,200128000013006,1.0,1.0,0.0,70.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
21883,2015,SE,201528001559007,2.0,2.0,0.0,44.0,2.0,10.0
21885,2015,SE,201528001559010,2.0,2.0,0.0,80.0,2.0,0.0
21886,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0
21887,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0
21890,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0

In [40]:
# Tratamento descrito no TCC para utilizar a média dos anos de estudo dos pais como um dos betas da regressão.
dados_pais['med_anest_pais'] = dados_pais.groupby('id_domicilio')['anos_estudo'].transform('mean')
dados_pais

C:\Users\gporto\AppData\Local\Temp\ipykernel_17108\571880721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_pais['med_anest_pais'] = dados_pais.groupby('id_domicilio')['anos_estudo'].transform('mean')

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo,med_anest_pais
0,2001,SE,200128000013001,1.0,1.0,0.0,78.0,8.0,0.0,3.5
1,2001,SE,200128000013002,1.0,1.0,0.0,26.0,2.0,2.0,2.0
2,2001,SE,200128000013003,1.0,1.0,1.0,40.0,2.0,7.0,5.5
3,2001,SE,200128000013004,1.0,1.0,1.0,69.0,8.0,0.0,0.0
4,2001,SE,200128000013006,1.0,1.0,0.0,70.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
21883,2015,SE,201528001559007,2.0,2.0,0.0,44.0,2.0,10.0,6.0
21885,2015,SE,201528001559010,2.0,2.0,0.0,80.0,2.0,0.0,1.5
21886,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0,1.5
21887,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0,0.0
21890,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0,4.0

In [44]:
# Criando um dicionário baseado no ID do domicílio para atribuir a média dos anos de estudo para pai e mãe
dict1 = dados_pais.groupby(['id_domicilio'])["anos_estudo"].mean()
dict1 = dict1.to_dict()
dict1

{200128000013001: 3.5,
 200128000013002: 2.0,
 200128000013003: 5.5,
 200128000013004: 0.0,
 200128000013006: 0.0,
 200128000013009: 2.0,
 200128000013011: 3.0,
 200128000013012: 5.75,
 200128000013013: 4.0,
 200128000013014: 6.0,
 200128000013017: 4.0,
 200128000013018: 7.0,
 200128000013019: 3.0,
 200128000013020: 5.5,
 200128000013021: 1.0,
 200128000013022: 0.0,
 200128000013024: 1.6666666666666667,
 200128000013025: 0.0,
 200128000013026: 3.5,
 200128000013027: 4.0,
 200128000013029: 9.5,
 200128000013030: 4.0,
 200128000021001: 4.0,
 200128000021002: 13.0,
 200128000021004: 6.333333333333333,
 200128000021005: 7.5,
 200128000021008: 0.0,
 200128000021009: 4.0,
 200128000021012: 2.0,
 200128000021013: 11.0,
 200128000021014: 2.5,
 200128000021015: 3.0,
 200128000021016: 4.0,
 200128000021017: 0.0,
 200128000021018: 8.0,
 200128000021021: 11.0,
 200128000021022: 0.0,
 200128000021023: 0.0,
 200128000021025: 1.5,
 200128000021027: 5.0,
 200128000021030: 7.5,
 200128000030004: 3.0,
 200128000030007: 1.0,
 200128000030008: 0.0,
 200128000030010: 1.5,
 200128000030011: 2.0,
 200128000030012: 6.0,
 200128000030013: 0.5,
 200128000030015: 0.0,
 200128000030016: 1.0,
 200128000030017: 0.0,
 200128000030018: 2.0,
 200128000030020: 2.25,
 200128000030022: 2.5,
 200128000030023: 0.0,
 200128000030024: 2.5,
 200128000030025: 1.0,
 200128000030026: 3.5,
 200128000030027: 2.0,
 200128000030028: 1.0,
 200128000030030: 0.5,
 200128000048001: 0.0,
 200128000048002: 3.5,
 200128000048003: 1.0,
 200128000048004: 2.0,
 200128000048007: 1.0,
 200128000048008: 0.0,
 200128000048009: 0.0,
 200128000048010: 3.0,
 200128000048015: 4.0,
 200128000048017: 0.0,
 200128000048018: 0.0,
 200128000048019: 2.0,
 200128000048021: 0.0,
 200128000048022: 0.0,
 200128000048025: 3.0,
 200128000048026: 0.5,
 200128000048027: 2.5,
 200128000048028: 6.5,
 200128000056001: 2.5,
 200128000056003: 3.0,
 200128000056005: 0.0,
 200128000056007: 0.0,
 200128000056012: 1.0,
 200128000056013: 1.0,
 200128000056014: 3.0,
 200128000056016: 2.5,
 200128000056017: 5.5,
 200128000056018: 0.0,
 200128000056020: 1.0,
 200128000056021: 2.5,
 200128000056022: 4.0,
 200128000056023: 0.5,
 200128000056026: 3.0,
 200128000056027: 0.0,
 200128000056028: 3.0,
 200128000056030: 1.5,
 200128000064001: 4.0,
 200128000064003: 4.0,
 200128000064004: 0.0,
 200128000064005: 9.0,
 200128000064006: 8.0,
 200128000064008: 8.0,
 200128000064009: 15.0,
 200128000064010: 8.0,
 200128000064011: 3.6666666666666665,
 200128000064012: 15.0,
 200128000064013: 14.0,
 200128000064014: 13.0,
 200128000064015: 0.0,
 200128000064016: 15.0,
 200128000072002: 16.0,
 200128000072003: 13.0,
 200128000072004: 13.0,
 200128000072005: 16.0,
 200128000072006: 15.0,
 200128000072007: 10.0,
 200128000072008: 6.5,
 200128000072009: 11.5,
 200128000072010: 10.0,
 200128000072011: 7.0,
 200128000072012: 13.5,
 200128000072013: 3.0,
 200128000072015: 10.5,
 200128000072016: 11.0,
 200128000080001: 15.5,
 200128000080002: 11.333333333333334,
 200128000080003: 11.5,
 200128000080004: 11.0,
 200128000080005: 16.0,
 200128000080006: 13.5,
 200128000080007: 16.0,
 200128000080008: 9.5,
 200128000080011: 6.5,
 200128000080012: 4.0,
 200128000080013: 13.5,
 200128000080014: 10.5,
 200128000080015: 15.0,
 200128000080016: 15.0,
 200128000080019: 15.0,
 200128000099001: 8.0,
 200128000099003: 3.0,
 200128000099004: 4.0,
 200128000099005: 5.0,
 200128000099006: 4.5,
 200128000099007: 11.0,
 200128000099008: 12.0,
 200128000099009: 5.0,
 200128000099010: 7.5,
 200128000099011: 0.0,
 200128000099013: 3.0,
 200128000099014: 11.0,
 200128000099015: 2.0,
 200128000102001: 4.0,
 200128000102003: 2.0,
 200128000102004: 7.0,
 200128000102006: 7.0,
 200128000102008: 0.0,
 200128000102009: 1.0,
 200128000102011: 10.0,
 200128000102012: 0.0,
 200128000102013: 6.333333333333333,
 200128000102014: 1.0,
 200128000102015: 11.0,
 200128000102018: 7.0,
 200128000110001: 3.0,
 200128000110002: 3.0,
 200128000110003: 6.333333333333333,
 200128000110004: 14.0,
 200128000110005: 3.0,
 200128000110006: 7.5,
 200128000110007: 9.5,
 200128000110008: 4.0,
 200128000110009: 9.0,
 200128000110010: 3.0,
 200128000110011: 9.5,
 200128000110012: 11.0,
 200128000110013: 11.0,
 200128000110014: 8.666666666666666,
 200128000110015: 11.0,
 200128000110016: 0.0,
 200128000110017: 5.666666666666667,
 200128000129001: 8.0,
 200128000129002: 10.0,
 200128000129003: 15.0,
 200128000129004: 11.0,
 200128000129006: 14.0,
 200128000129008: 13.0,
 200128000129009: 9.5,
 200128000129010: 17.0,
 200128000129011: 15.0,
 200128000129012: 15.0,
 200128000129015: 16.0,
 200128000129016: 11.0,
 200128000129017: 9.5,
 200128000137001: 8.2,
 200128000137002: 8.0,
 200128000137003: 4.0,
 200128000137004: 8.0,
 200128000137005: 13.0,
 200128000137006: 11.0,
 200128000137007: 11.0,
 200128000137008: 9.5,
 200128000137009: 10.0,
 200128000137010: 9.5,
 200128000137011: 0.0,
 200128000137013: 11.0,
 200128000137014: 4.0,
 200128000137015: 14.0,
 200128000137016: 11.0,
 200128000137017: 11.0,
 200128000145001: 15.0,
 200128000145002: 13.5,
 200128000145003: 16.0,
 200128000145004: 11.0,
 200128000145005: 9.0,
 200128000145007: 10.0,
 200128000145008: 8.0,
 200128000145010: 4.0,
 200128000145011: 13.0,
 200128000145012: 9.5,
 200128000145013: 15.0,
 200128000145014: 11.0,
 200128000145015: 12.0,
 200128000153001: 13.0,
 200128000153002: 4.0,
 200128000153003: 6.5,
 200128000153004: 0.0,
 200128000153005: 4.0,
 200128000153006: 10.5,
 200128000153007: 6.0,
 200128000153008: 16.5,
 200128000153009: 10.0,
 200128000153010: 15.5,
 200128000153011: 3.0,
 200128000153012: 12.0,
 200128000153013: 11.0,
 200128000153014: 12.0,
 200128000153015: 2.0,
 200128000161001: 6.0,
 200128000161003: 10.5,
 200128000161004: 11.0,
 200128000161006: 11.0,
 200128000161007: 15.0,
 200128000161008: 15.0,
 200128000161009: 11.5,
 200128000161010: 8.0,
 200128000161011: 11.0,
 200128000161013: 15.0,
 200128000161015: 15.0,
 200128000170002: 8.0,
 200128000170004: 10.0,
 200128000170005: 12.0,
 200128000170006: 15.0,
 200128000170007: 14.5,
 200128000170009: 3.0,
 200128000170014: 13.5,
 200128000170016: 16.5,
 200128000188001: 11.0,
 200128000188002: 6.0,
 200128000188004: 7.0,
 200128000188005: 16.0,
 200128000188006: 0.0,
 200128000188007: 4.0,
 200128000188008: 13.0,
 200128000188009: 2.0,
 200128000188010: 8.0,
 200128000188011: 7.5,
 200128000188013: 11.0,
 200128000188014: 4.0,
 200128000188016: 13.5,
 200128000188017: 11.0,
 200128000196001: 11.0,
 200128000196002: 7.0,
 200128000196003: 4.0,
 200128000196004: 13.0,
 200128000196005: 11.0,
 200128000196006: 4.0,
 200128000196007: 0.0,
 200128000196009: 5.0,
 200128000196010: 11.0,
 200128000196011: 5.333333333333333,
 200128000196013: 1.0,
 200128000196015: 4.5,
 200128000196016: 11.0,
 200128000200001: 2.5,
 200128000200002: 4.0,
 200128000200003: 10.5,
 200128000200004: 4.5,
 200128000200006: 2.25,
 200128000200007: 11.0,
 200128000200008: 11.0,
 200128000200010: 3.5,
 200128000200013: 7.0,
 200128000200015: 4.0,
 200128000200016: 0.0,
 200128000218001: 11.0,
 200128000218002: 9.5,
 200128000218003: 3.5,
 200128000218004: 13.0,
 200128000218005: 8.0,
 200128000218006: 13.0,
 200128000218007: 16.0,
 200128000218009: 10.666666666666666,
 200128000218010: 11.0,
 200128000218011: 10.0,
 200128000218013: 15.0,
 200128000218014: 11.0,
 200128000218015: 15.5,
 200128000218016: 11.0,
 200128000226002: 4.0,
 200128000226003: 4.0,
 200128000226004: 2.5,
 200128000226006: 0.0,
 200128000226007: 4.0,
 200128000226008: 0.0,
 200128000226009: 1.0,
 200128000226011: 6.5,
 200128000226012: 8.0,
 200128000226014: 3.5,
 200128000226015: 3.5,
 200128000226016: 3.5,
 200128000226017: 11.0,
 200128000234001: 6.333333333333333,
 200128000234002: 6.0,
 200128000234003: 8.0,
 200128000234004: 11.0,
 200128000234006: 8.5,
 200128000234007: 11.0,
 200128000234008: 10.0,
 200128000234009: 11.0,
 200128000234010: 2.0,
 200128000234011: 0.0,
 200128000234012: 3.5,
 200128000234013: 6.0,
 200128000234014: 9.0,
 200128000234015: 11.0,
 200128000234016: 12.0,
 200128000234017: 3.0,
 200128000242001: 5.5,
 200128000242002: 2.5,
 200128000242003: 8.0,
 200128000242004: 1.5,
 200128000242005: 11.0,
 200128000242007: 14.0,
 200128000242008: 6.5,
 200128000242009: 4.0,
 200128000242010: 5.5,
 200128000242011: 7.5,
 200128000242012: 4.5,
 200128000242013: 3.0,
 200128000242014: 11.0,
 200128000242015: 12.5,
 200128000242016: 11.0,
 200128000250001: 0.0,
 200128000250002: 0.0,
 200128000250004: 2.0,
 200128000250005: 1.0,
 200128000250006: 3.0,
 200128000250008: 3.0,
 200128000250010: 9.0,
 200128000250011: 10.5,
 200128000250012: 4.0,
 200128000250013: 5.5,
 200128000250014: 2.0,
 200128000250015: 6.0,
 200128000250016: 8.5,
 200128000250017: 5.0,
 200128000269001: 1.6666666666666667,
 200128000269002: 2.5,
 200128000269003: 11.0,
 200128000269004: 5.0,
 200128000269005: 8.0,
 200128000269006: 2.5,
 200128000269007: 3.5,
 200128000269009: 6.5,
 200128000269011: 4.0,
 200128000269012: 3.5,
 200128000269013: 3.0,
 200128000269014: 1.5,
 200128000269015: 6.0,
 200128000269016: 6.5,
 200128000277002: 6.0,
 200128000277003: 2.5,
 200128000277005: 6.0,
 200128000277007: 0.0,
 200128000277008: 7.0,
 200128000277009: 4.0,
 200128000277010: 8.0,
 200128000277011: 4.5,
 200128000277012: 0.0,
 200128000277013: 6.0,
 200128000277015: 11.0,
 200128000277016: 2.5,
 200128000277017: 3.0,
 200128000285001: 9.0,
 200128000285002: 6.0,
 200128000285003: 14.0,
 200128000285004: 5.0,
 200128000285005: 4.0,
 200128000285006: 3.0,
 200128000285007: 1.5,
 200128000285008: 6.5,
 200128000285009: 9.5,
 200128000285010: 7.5,
 200128000285011: 0.0,
 200128000285012: 5.0,
 200128000285013: 6.5,
 200128000285014: 6.5,
 200128000285015: 4.0,
 200128000285016: 2.5,
 200128000285017: 3.5,
 200128000293001: 7.333333333333333,
 200128000293002: 10.5,
 200128000293003: 10.5,
 200128000293005: 5.0,
 200128000293006: 4.0,
 200128000293007: 9.5,
 200128000293008: 3.25,
 200128000293009: 6.0,
 200128000293010: 2.0,
 200128000293011: 7.0,
 200128000293012: 9.5,
 200128000293013: 7.5,
 200128000293014: 11.0,
 200128000293015: 7.0,
 200128000293016: 9.5,
 200128000307001: 0.0,
 200128000307002: 2.75,
 200128000307003: 11.0,
 200128000307004: 0.0,
 200128000307006: 8.5,
 200128000307007: 3.0,
 200128000307009: 4.166666666666667,
 200128000307010: 5.0,
 200128000307011: 11.0,
 200128000307012: 4.0,
 200128000307013: 5.5,
 200128000307016: 0.0,
 200128000307017: 9.5,
 200128000307018: 9.0,
 200128000307019: 0.0,
 200128000307020: 6.5,
 200128000307021: 7.5,
 200128000315001: 8.5,
 200128000315002: 11.0,
 200128000315004: 3.5,
 200128000315005: 1.0,
 200128000315007: 4.5,
 200128000315008: 9.0,
 200128000315009: 8.5,
 200128000315010: 11.0,
 200128000315011: 2.0,
 200128000315012: 9.0,
 200128000315013: 7.0,
 200128000315014: 0.0,
 200128000315015: 6.0,
 200128000315016: 0.5,
 200128000315017: 11.0,
 200128000323001: 5.5,
 200128000323003: 5.5,
 200128000323004: 11.0,
 200128000323005: 5.666666666666667,
 200128000323006: 3.6666666666666665,
 200128000323007: 0.0,
 200128000323008: 11.0,
 200128000323009: 6.0,
 200128000323010: 8.0,
 200128000323011: 10.5,
 200128000323012: 11.0,
 200128000323013: 4.0,
 200128000323014: 6.0,
 200128000323015: 0.0,
 200128000323016: 11.0,
 200128000323017: 9.0,
 200128000323018: 7.0,
 200128000323019: 8.0,
 200128000331001: 6.0,
 200128000331002: 8.0,
 200128000331004: 4.5,
 200128000331005: 4.0,
 200128000331011: 5.0,
 200128000331012: 4.0,
 200128000331013: 4.0,
 200128000331015: 3.5,
 200128000331017: 0.0,
 200128000340001: 11.0,
 200128000340002: 5.0,
 200128000340003: 4.0,
 200128000340004: 4.0,
 200128000340005: 1.0,
 200128000340006: 5.0,
 200128000340007: 3.5,
 200128000340008: 9.0,
 200128000340009: 0.0,
 200128000340010: 5.5,
 200128000340012: 3.75,
 200128000340013: 2.0,
 200128000340014: 3.0,
 200128000340015: 5.0,
 200128000340016: 5.5,
 200128000340017: 9.0,
 200128000340018: 5.0,
 200128000340019: 11.0,
 200128000358001: 1.75,
 200128000358002: 7.5,
 200128000358004: 10.0,
 200128000358005: 7.5,
 200128000358006: 11.5,
 200128000358007: 0.0,
 200128000358008: 12.5,
 200128000358011: 13.0,
 200128000358012: 13.5,
 200128000358013: 6.0,
 200128000358014: 10.5,
 200128000358015: 7.5,
 200128000358017: 10.5,
 200128000358018: 11.0,
 200128000358019: 5.0,
 200128000358021: 3.0,
 200128000358022: 5.0,
 200128000358023: 0.5,
 200128000358024: 0.5,
 200128000358025: 0.0,
 200128000358026: 6.5,
 200128000366001: 0.0,
 200128000366002: 0.0,
 200128000366003: 8.0,
 200128000366004: 1.0,
 200128000366005: 0.0,
 200128000366006: 4.5,
 200128000366007: 4.0,
 200128000366009: 5.5,
 200128000366010: 0.0,
 200128000366011: 0.0,
 200128000366012: 2.5,
 200128000366014: 0.0,
 200128000366015: 0.0,
 200128000366016: 2.0,
 200128000366017: 2.5,
 200128000366018: 7.0,
 200128000366019: 2.0,
 200128000366020: 6.0,
 200128000366021: 5.0,
 200128000366022: 6.0,
 200128000366023: 0.0,
 200128000366024: 7.0,
 200128000366025: 2.0,
 200128000366026: 3.0,
 200128000374002: 6.0,
 200128000374003: 0.0,
 200128000374004: 1.5,
 200128000374005: 2.6666666666666665,
 200128000374006: 4.666666666666667,
 200128000374010: 2.0,
 200128000374011: 0.0,
 200128000374012: 5.5,
 200128000374013: 0.0,
 200128000374014: 5.0,
 200128000374015: 7.5,
 200128000374017: 13.0,
 200128000374018: 2.0,
 200128000374019: 1.5,
 200128000374020: 2.25,
 200128000374021: 2.0,
 200128000374022: 11.0,
 200128000374023: 4.5,
 200128000374024: 3.5,
 200128000374025: 8.0,
 200128000382002: 1.5,
 200128000382003: 3.5,
 200128000382004: 0.0,
 200128000382005: 3.0,
 200128000382007: 5.0,
 200128000382009: 0.0,
 200128000382010: 1.5,
 200128000382011: 2.0,
 200128000382013: 0.0,
 200128000382014: 3.0,
 200128000382015: 0.0,
 200128000382016: 3.5,
 200128000382018: 2.5,
 200128000382019: 0.6666666666666666,
 200128000382020: 0.0,
 200128000382021: 0.0,
 200128000382022: 0.0,
 200128000382023: 2.0,
 200128000382024: 0.0,
 200128000390002: 2.0,
 200128000390003: 5.0,
 200128000390004: 1.0,
 200128000390006: 0.0,
 200128000390007: 0.5,
 200128000390008: 1.5,
 200128000390009: 0.0,
 200128000390013: 0.0,
 200128000390014: 0.0,
 200128000390015: 0.0,
 200128000390016: 2.5,
 200128000390017: 2.5,
 200128000390018: 1.0,
 200128000390019: 0.5,
 200128000390020: 2.5,
 200128000390022: 4.0,
 200128000390023: 0.0,
 200128000390024: 1.0,
 200128000390025: 4.0,
 200128000390026: 9.5,
 200128000404001: 7.0,
 200128000404002: 10.5,
 200128000404003: 2.5,
 200128000404004: 4.0,
 200128000404005: 9.0,
 200128000404006: 11.0,
 200128000404007: 0.0,
 200128000404010: 0.0,
 200128000404012: 0.0,
 200128000404013: 4.0,
 200128000404014: 6.5,
 200128000404016: 0.0,
 200128000404017: 5.0,
 200128000404019: 0.0,
 200128000404020: 0.0,
 200128000404021: 8.0,
 200128000404022: 11.0,
 200128000404023: 10.5,
 200128000404024: 5.5,
 200128000404025: 0.0,
 200128000404027: 4.0,
 200128000404029: 6.5,
 200128000404030: 9.5,
 200128000404031: 11.0,
 200128000404032: 11.0,
 200128000404033: 4.5,
 200128000412001: 1.0,
 200128000412002: 4.0,
 200128000412003: 2.0,
 200128000412004: 0.0,
 200128000412005: 8.0,
 200128000412006: 10.0,
 200128000412008: 4.0,
 200128000412009: 0.0,
 200128000412010: 2.0,
 200128000412011: 9.0,
 200128000412012: 3.0,
 200128000412013: 6.0,
 200128000412014: 11.0,
 200128000412015: 3.0,
 200128000412016: 4.0,
 200128000412017: 0.0,
 200128000412018: 3.0,
 200128000412019: 0.0,
 200128000412020: 5.0,
 200128000412021: 2.5,
 200128000412022: 11.0,
 200128000412023: 4.5,
 200128000412024: 9.0,
 200128000412025: 6.0,
 200128000412026: 4.0,
 200128000412027: 7.0,
 200128000412028: 2.0,
 200128000412029: 2.0,
 200128000412030: 3.0,
 200128000412031: 7.0,
 200128000412032: 1.0,
 200128000412033: 1.5,
 200128000412034: 0.0,
 200128000420001: 0.0,
 200128000420002: 0.0,
 200128000420003: 1.0,
 200128000420004: 0.0,
 200128000420005: 2.0,
 200128000420007: 3.0,
 200128000420008: 3.0,
 200128000420009: 1.0,
 200128000420010: 4.5,
 200128000420011: 7.5,
 200128000420012: 3.0,
 200128000420013: 0.0,
 200128000420015: 1.5,
 200128000420019: 3.0,
 200128000420020: 8.0,
 200128000420021: 0.0,
 200128000420022: 0.0,
 200128000420023: 0.0,
 200128000420024: 0.0,
 200128000420025: 3.5,
 200128000420026: 3.0,
 200128000420027: 0.0,
 200128000420028: 1.0,
 200128000420029: 1.5,
 200128000420030: 2.0,
 200128000420031: 0.0,
 200128000420032: 5.5,
 200128000420033: 0.0,
 200128000420034: 6.0,
 200128000439001: 1.5,
 200128000439002: 4.5,
 200128000439003: 2.0,
 200128000439004: 0.0,
 200128000439005: 3.0,
 200128000439006: 0.0,
 200128000439007: 3.5,
 200128000439008: 2.5,
 200128000439011: 0.0,
 200128000439013: 2.0,
 200128000439014: 9.5,
 200128000439015: 1.0,
 200128000439016: 3.0,
 200128000439017: 4.0,
 200128000439018: 4.0,
 200128000439019: 0.0,
 200128000439021: 0.0,
 200128000439022: 5.5,
 200128000439023: 0.0,
 200128000439025: 5.0,
 200128000439027: 4.0,
 200128000439028: 0.0,
 200128000439029: 3.5,
 200128000439030: 3.5,
 200128000439031: 6.5,
 200128000439032: 0.0,
 200128000439033: 0.0,
 200128000447002: 2.0,
 200128000447003: 2.5,
 200128000447004: 1.0,
 200128000447005: 0.0,
 200128000447007: 0.0,
 200128000447009: 4.0,
 200128000447010: 2.0,
 200128000447011: 2.0,
 200128000447012: 0.0,
 200128000447013: 0.0,
 200128000447014: 0.0,
 200128000447015: 3.5,
 200128000447016: 2.5,
 200128000447020: 0.6666666666666666,
 200128000447022: 1.5,
 200128000447027: 0.0,
 200128000447031: 0.0,
 200128000447032: 4.0,
 200128000455001: 0.0,
 200128000455002: 11.0,
 200128000455003: 7.0,
 200128000455004: 3.5,
 200128000455005: 10.5,
 200128000455006: 3.0,
 200128000455007: 2.0,
 200128000455008: 4.0,
 200128000455009: 9.5,
 200128000455010: 11.0,
 200128000455011: 11.0,
 200128000455012: 9.0,
 200128000455013: 2.0,
 200128000455014: 1.5,
 200128000455015: 0.0,
 200128000455017: 3.0,
 200128000455018: 0.0,
 200128000455019: 7.0,
 200128000455021: 0.0,
 200128000455022: 0.0,
 200128000455023: 2.0,
 200128000463001: 2.5,
 200128000463002: 0.0,
 200128000463003: 0.0,
 200128000463004: 0.0,
 200128000463005: 2.5,
 200128000463007: 2.0,
 200128000463009: 3.0,
 200128000463011: 8.333333333333334,
 200128000463013: 0.75,
 200128000463014: 4.0,
 200128000463015: 0.0,
 200128000463016: 3.0,
 200128000463018: 3.0,
 200128000463019: 0.0,
 200128000463020: 3.0,
 200128000463021: 0.0,
 200128000463022: 0.0,
 200128000463023: 0.0,
 200128000463024: 0.0,
 200128000463025: 0.0,
 200128000463027: 2.0,
 200128000471002: 0.0,
 200128000471003: 0.0,
 200128000471004: 0.0,
 200128000471006: 0.0,
 200128000471007: 0.0,
 200128000471009: 0.0,
 200128000471010: 0.0,
 200128000471011: 2.0,
 200128000471012: 4.0,
 200128000471013: 0.0,
 200128000471014: 0.0,
 200128000471016: 5.5,
 200128000471017: 0.0,
 200128000471018: 0.0,
 200128000471019: 0.0,
 200128000471020: 5.0,
 200128000471021: 0.0,
 200128000471022: 0.0,
 200128000480001: 1.5,
 200128000480003: 0.0,
 200128000480004: 3.25,
 200128000480005: 0.0,
 200128000480006: 1.4,
 200128000480007: 0.0,
 200128000480008: 0.75,
 200128000480009: 0.0,
 200128000480010: 4.5,
 200128000480012: 0.0,
 200128000480013: 3.0,
 200128000480014: 1.5,
 200128000480015: 0.0,
 200128000498001: 3.0,
 200128000498002: 3.0,
 200128000498005: 5.5,
 200128000498006: 0.0,
 200128000498007: 2.0,
 200128000498008: 0.0,
 200128000498009: 0.0,
 200128000498010: 4.0,
 200128000498011: 1.0,
 200128000498012: 0.0,
 200128000498013: 6.0,
 200128000498014: 8.5,
 200128000498015: 2.5,
 200128000498016: 0.0,
 200128000498017: 6.0,
 200128000498018: 0.0,
 200128000498020: 0.0,
 200128000498021: 0.0,
 200128000498022: 8.0,
 200128000498023: 0.0,
 200128000498024: 6.0,
 200128000498025: 0.0,
 200128000498026: 2.0,
 200128000501002: 1.0,
 200128000501003: 5.0,
 200128000501004: 7.5,
 200128000501005: 9.5,
 200128000501006: 7.0,
 200128000501007: 8.0,
 200128000501008: 1.0,
 200128000501011: 8.0,
 200128000501012: 6.5,
 200128000501014: 2.0,
 200128000510002: 0.0,

In [45]:
# Criando coluna com média dos anos de estudo dos pais
dados2['anestpais_mean'] = dados2['id_domicilio'].map(dict1)
dados2

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo,anestpais_mean
0,2001,SE,200128000013001,1.0,1.0,0.0,78.0,8.0,0.0,3.5
1,2001,SE,200128000013002,1.0,1.0,0.0,26.0,2.0,2.0,2.0
2,2001,SE,200128000013003,1.0,1.0,1.0,40.0,2.0,7.0,5.5
3,2001,SE,200128000013004,1.0,1.0,1.0,69.0,8.0,0.0,0.0
4,2001,SE,200128000013006,1.0,1.0,0.0,70.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
21886,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0,1.5
21887,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0,0.0
21888,2015,SE,201528001559015,3.0,3.0,1.0,14.0,8.0,7.0,0.0
21889,2015,SE,201528001559015,4.0,3.0,0.0,5.0,8.0,0.0,0.0
21890,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0,4.0

In [47]:
# Criando um dict para transformar as dummies de raça em apenas brancos e não-brancos, evitando problemas de multicolinearidade.
dict_raca = {2:0, 4:1, 6:1, 8:1, 9:1}
dados2['raca_cor2'] = dados2['raca_cor'].map(dict_raca)
dados2

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo,anestpais_mean,raca_cor2
0,2001,SE,200128000013001,1.0,1.0,0.0,78.0,8.0,0.0,3.5,1.0
1,2001,SE,200128000013002,1.0,1.0,0.0,26.0,2.0,2.0,2.0,0.0
2,2001,SE,200128000013003,1.0,1.0,1.0,40.0,2.0,7.0,5.5,0.0
3,2001,SE,200128000013004,1.0,1.0,1.0,69.0,8.0,0.0,0.0,1.0
4,2001,SE,200128000013006,1.0,1.0,0.0,70.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
21886,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0,1.5,0.0
21887,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0,0.0,1.0
21888,2015,SE,201528001559015,3.0,3.0,1.0,14.0,8.0,7.0,0.0,1.0
21889,2015,SE,201528001559015,4.0,3.0,0.0,5.0,8.0,0.0,0.0,1.0
21890,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0,4.0,1.0

In [48]:
# Variáveis de controle da idade dos filhos 
dados2['id_filhos'] = 15
dados2['id_filhos_quad'] = 225
dados2

In [64]:
# Separando novamente os anos em diferentes dfs para realizar a regressão por ano 
d2001 = dados2.loc[dados2['ano'] == 2001]
d2005 = dados2.loc[dados2['ano'] == 2005]
d2011 = dados2.loc[dados2['ano'] == 2011]
d2015 = dados2.loc[dados2['ano'] == 2015]

In [52]:
# Melhorando a interpretação do df renomeando a coluna
dados2.rename(columns = {'anestpais_mean':'med_anest_pais'}, inplace = True)
dados2

,ano,sigla_uf,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo,med_anest_pais,raca_cor2,idade_filho,idade_filho_quad
0,2001,SE,200128000013001,1.0,1.0,0.0,78.0,8.0,0.0,3.5,1.0,15,225
1,2001,SE,200128000013002,1.0,1.0,0.0,26.0,2.0,2.0,2.0,0.0,15,225
2,2001,SE,200128000013003,1.0,1.0,1.0,40.0,2.0,7.0,5.5,0.0,15,225
3,2001,SE,200128000013004,1.0,1.0,1.0,69.0,8.0,0.0,0.0,1.0,15,225
4,2001,SE,200128000013006,1.0,1.0,0.0,70.0,2.0,0.0,0.0,0.0,15,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21886,2015,SE,201528001559012,2.0,2.0,0.0,52.0,2.0,3.0,1.5,0.0,15,225
21887,2015,SE,201528001559015,2.0,2.0,0.0,38.0,8.0,0.0,0.0,1.0,15,225
21888,2015,SE,201528001559015,3.0,3.0,1.0,14.0,8.0,7.0,0.0,1.0,15,225
21889,2015,SE,201528001559015,4.0,3.0,0.0,5.0,8.0,0.0,0.0,1.0,15,225
21890,2015,SE,201528001559016,2.0,2.0,0.0,30.0,8.0,8.0,4.0,1.0,15,225

In [69]:
# Modelo para o ano de 2001

X = d2001[['med_anest_pais', 'sexo', 'raca_cor2', 'idade_filho', 'idade_filho_quad']]
Y = d2001['anos_estudo']

modelo4 = sm.OLS(Y, X).fit()

modelo4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            anos_estudo   R-squared:                       0.366
Model:                            OLS   Adj. R-squared:                  0.365
Method:                 Least Squares   F-statistic:                     979.6
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        19:47:57   Log-Likelihood:                -13395.
No. Observations:                5100   AIC:                         2.680e+04
Df Residuals:                    5096   BIC:                         2.682e+04
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
med_anest_pais       0.6188      0.012     51.954      0.000       0.595       0.642
sexo                -0.6633      0.094     -7.066      0.000      -0.847      -0.479
raca_cor2           -0.1173      0.114     -1.025      0.306      -0.342       0.107
idade_filho          0.0004   3.86e-05     11.354      0.000       0.000       0.001
idade_filho_quad     0.0066      0.001     11.354      0.000       0.005       0.008
==============================================================================
Omnibus:                       38.575   Durbin-Watson:                   1.652
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               56.084
Skew:                           0.065   Prob(JB):                     6.63e-13
Kurtosis:                       3.497   Cond. No.                     1.07e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.25e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [70]:
# Modelo para o ano de 2005

X = d2005[['med_anest_pais', 'sexo', 'raca_cor2', 'idade_filho', 'idade_filho_quad']]
Y = d2005['anos_estudo']

modelo4 = sm.OLS(Y, X).fit()

modelo4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            anos_estudo   R-squared:                       0.343
Model:                            OLS   Adj. R-squared:                  0.343
Method:                 Least Squares   F-statistic:                     976.2
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        19:48:08   Log-Likelihood:                -15182.
No. Observations:                5613   AIC:                         3.037e+04
Df Residuals:                    5609   BIC:                         3.040e+04
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
med_anest_pais       0.6360      0.012     53.059      0.000       0.613       0.660
sexo                -0.6013      0.097     -6.217      0.000      -0.791      -0.412
raca_cor2            0.0389      0.109      0.358      0.720      -0.174       0.252
idade_filho          0.0005   3.71e-05     13.136      0.000       0.000       0.001
idade_filho_quad     0.0073      0.001     13.136      0.000       0.006       0.008
==============================================================================
Omnibus:                        9.190   Durbin-Watson:                   1.626
Prob(Omnibus):                  0.010   Jarque-Bera (JB):               10.644
Skew:                          -0.025   Prob(JB):                      0.00488
Kurtosis:                       3.207   Cond. No.                     6.78e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.21e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [72]:
# Modelo para o ano de 2011

X = d2011[['med_anest_pais', 'sexo', 'raca_cor2', 'idade_filho', 'idade_filho_quad']]
Y = d2011['anos_estudo']

modelo4 = sm.OLS(Y, X).fit()

modelo4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            anos_estudo   R-squared:                       0.355
Model:                            OLS   Adj. R-squared:                  0.355
Method:                 Least Squares   F-statistic:                     1005.
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        19:48:18   Log-Likelihood:                -15100.
No. Observations:                5484   AIC:                         3.021e+04
Df Residuals:                    5480   BIC:                         3.023e+04
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
med_anest_pais       0.6644      0.012     54.373      0.000       0.640       0.688
sexo                -0.6549      0.103     -6.377      0.000      -0.856      -0.454
raca_cor2            0.1496      0.118      1.269      0.205      -0.082       0.381
idade_filho          0.0005   4.15e-05     11.268      0.000       0.000       0.001
idade_filho_quad     0.0070      0.001     11.268      0.000       0.006       0.008
==============================================================================
Omnibus:                       53.470   Durbin-Watson:                   1.649
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               59.084
Skew:                          -0.201   Prob(JB):                     1.48e-13
Kurtosis:                       3.312   Cond. No.                     6.50e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.6e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [71]:
# Modelo para o ano de 2015

X = d2015[['med_anest_pais', 'sexo', 'raca_cor2', 'idade_filho', 'idade_filho_quad']]
Y = d2015['anos_estudo']

modelo4 = sm.OLS(Y, X).fit()

modelo4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            anos_estudo   R-squared:                       0.335
Model:                            OLS   Adj. R-squared:                  0.335
Method:                 Least Squares   F-statistic:                     956.4
Date:                Sun, 05 Jun 2022   Prob (F-statistic):               0.00
Time:                        19:48:13   Log-Likelihood:                -15752.
No. Observations:                5694   AIC:                         3.151e+04
Df Residuals:                    5690   BIC:                         3.154e+04
Df Model:                           3
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
med_anest_pais       0.6384      0.012     52.710      0.000       0.615       0.662
sexo                -0.7522      0.102     -7.364      0.000      -0.952      -0.552
raca_cor2           -0.1289      0.118     -1.093      0.274      -0.360       0.102
idade_filho          0.0007    4.1e-05     16.179      0.000       0.001       0.001
idade_filho_quad     0.0099      0.001     16.179      0.000       0.009       0.011
==============================================================================
Omnibus:                       36.506   Durbin-Watson:                   1.674
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               43.856
Skew:                          -0.125   Prob(JB):                     3.00e-10
Kurtosis:                       3.350   Cond. No.                     1.12e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.29e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [74]:
rmod4 = pd.DataFrame({'Ano': [2001, 2005, 2011, 2015],
                      'obs': [5100, 5613, 5484, 5694],
                      'beta1': [0.6188, 0.6360, 0.6644, 0.6384], 
                      'beta2': [-0.6633, -0.6013, -0.6549, -0.7522], 
                      'beta3': [-0.1173, 0.0389, 0.1496, -0.1289], 
                      'beta4': [0.0004, 0.0005, 0.0005, 0.0007], 
                      'beta5': [0.0066, 0.0073, 0.0070, 0.0099], 
                      'grau_mobilidade': [0.3812, 0.364, 0.3356, 0.3616], 
                      'r_quad': [0.366, 0.343, 0.353, 0.335],
                      'r_quad_ajust': [0.365, 0.343, 0.353, 0.335]})

rmod4

,Ano,obs,beta1,beta2,beta3,beta4,beta5,grau_mobilidade,r_quad,r_quad_ajust
0,2001,5100,0.6188,-0.6633,-0.1173,0.0004,0.0066,0.3812,0.366,0.365
1,2005,5613,0.6360,-0.6013,0.0389,0.0005,0.0073,0.3640,0.343,0.343
2,2011,5484,0.6644,-0.6549,0.1496,0.0005,0.0070,0.3356,0.353,0.353
3,2015,5694,0.6384,-0.7522,-0.1289,0.0007,0.0099,0.3616,0.335,0.335

In [75]:
dados2.describe()

,ano,id_domicilio,ordem,condicao_familia,sexo,idade,raca_cor,anos_estudo,med_anest_pais,raca_cor2,idade_filho,idade_filho_quad
count,21891.000000,2.189100e+04,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.0,21891.0
mean,2008.172263,2.008452e+14,2.614362,2.112969,0.486364,29.991595,6.202549,5.034946,5.644658,0.744141,15.0,225.0
std,5.356754,5.356739e+11,1.726165,0.881919,0.499825,19.962157,2.661005,4.594564,4.195346,0.436353,0.0,0.0
min,2001.000000,2.001280e+14,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.0,225.0
25%,2005.000000,2.005280e+14,1.000000,1.000000,0.000000,14.000000,2.000000,0.000000,2.000000,0.000000,15.0,225.0
50%,2011.000000,2.011280e+14,2.000000,2.000000,0.000000,27.000000,8.000000,4.000000,5.000000,1.000000,15.0,225.0
75%,2015.000000,2.015280e+14,3.000000,3.000000,1.000000,43.000000,8.000000,9.000000,9.000000,1.000000,15.0,225.0
max,2015.000000,2.015280e+14,21.000000,3.000000,1.000000,100.000000,8.000000,17.000000,17.000000,1.000000,15.0,225.0

In [76]:
dados2.drop(['id_domicilio', 'ordem'], axis = 1, inplace=True)
dados2.describe()

,ano,condicao_familia,sexo,idade,raca_cor,anos_estudo,med_anest_pais,raca_cor2,idade_filho,idade_filho_quad
count,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.000000,21891.0,21891.0
mean,2008.172263,2.112969,0.486364,29.991595,6.202549,5.034946,5.644658,0.744141,15.0,225.0
std,5.356754,0.881919,0.499825,19.962157,2.661005,4.594564,4.195346,0.436353,0.0,0.0
min,2001.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.0,225.0
25%,2005.000000,1.000000,0.000000,14.000000,2.000000,0.000000,2.000000,0.000000,15.0,225.0
50%,2011.000000,2.000000,0.000000,27.000000,8.000000,4.000000,5.000000,1.000000,15.0,225.0
75%,2015.000000,3.000000,1.000000,43.000000,8.000000,9.000000,9.000000,1.000000,15.0,225.0
max,2015.000000,3.000000,1.000000,100.000000,8.000000,17.000000,17.000000,1.000000,15.0,225.0